@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Poppins', sans-serif;

$white: #ffffff;
$black: #101010;
$grey: #878787;
$accent-color: #dc3434;
$Poppins: 'Poppins', sans-serif;
$mobile: 800px;
// $laptop: ;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: $Poppins;
}

body {
  background-color: $black;
  color: $white;
}
